.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: #1e2b3a;
}

.section {
    text-align: center;
    color: white;
    transition: all 0.3s ease-in-out;
}

.section:hover {
    transform: scale(1.05);
}

.section img {
    width: 400px;
    height: 500px;
    border-radius: 5px;
}

.section p {
    margin: 10px auto;
    color: white;
    font-size: 20px;
}

.section a {
    text-decoration: none;
}