.test-page {
    padding: 40px 0;
    background: #1e2b3a;
}


.test-page__submit-btn {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.test-page__submit-btn:hover {
    background-color: #45a049;
}

.test-page-card__answers label span {
    font-weight: normal;
}

/* FullTestPageCard.css for (russian and english version */
.test-page-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin: 40px 40px 0 40px;
}

.test-page-card__number {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.test-page-card__content {
    margin-top: 10px;
}

.test-page-card__image {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.test-page-card__question {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    font-weight: bold;
}

.test-page-card__answers label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
}

.test-page-card__answers input[type="radio"] {
    margin-right: 10px;
}

.test-page-card__result {
    font-size: 14px;
    margin-top: 20px;
}

.test-page-card__result-correct {
    color: #038003;
}

.test-page-card__result-incorrect {
    color: #FF0000;
}

.test-page-card__answer-image {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.test-page-card__correct-answer-image {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.test-page-result {
    margin: 40px;
}

.test-page__result-pass {
    color: green;
    font-size: 18px;
}

.test-page__result-fail {
    color: red;
    font-size: 18px;
}

.home-icon {
    font-size: 28px;
}

@media screen and (max-width: 900px) {

    .test-page__result-fail,
    .test-page__result-pass {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .test-page-card__question {
        font-size: 14px;
    }

    .test-page-card__answers label span {
        font-size: 13px;
    }

    .test-page-card__answers label {
        font-size: 13px;
    }

    .test-page-card {
        padding: 10px;
    }

    .test-page-card__number {
        font-size: 16px;
    }

    .test-page-card__question {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 400px) {
    .test-page-card {
        margin-left: 10px;
        margin-right: 10px;
    }

    .test-page-card__question {
        font-size: 13px;
        margin: 10px 0;
    }

    .test-page-card__answers label span {
        font-size: 12px;
    }

    .test-page-card__answer-image {
        width: 30px;
        height: 30px;
    }

    .test-page-card__number {
        margin-bottom: 0;
    }

    .test-page-card__result {
        font-size: 12px;
    }

    .test-page-card__correct-answer-image {
        width: 30px;
        height: 30px;
    }

    .test-page-result span {
        font-size: 13px;
    }
}