.auto-home-page-container {
    background: #1e2b3a;
}

.auto-home-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.home-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    border: 1px solid #f1eded;
    border-radius: 5px;
    text-align: center;
    background-color: #f2f2f2;
    width: 200px;
    height: 300px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.home-card span {
    font-weight: 600;
}

.home-card:hover {
    color: #666;
    transform: scale(1.05);
}

.grey {
    background-color: rgb(240, 235, 235);
    color: #ffffff;
}

.grey:hover {
    background-color: #0A1726;
}

.home-card a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.home-card span {
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}

.card-description {
    color: white;
    opacity: 0.8;
    font-size: 14px;
}

@media screen and (max-width: 901px) {
    .auto-home-page {
        flex-direction: column;
        height: 100%;
    }

    .home-card {
        max-height: 250px;
    }

    .card-image {
        max-height: 150px;
    }
}

@media screen and (max-width: 501px) {
    .header {
        font-size: 24px;
    }

    .home-card {
        max-height: 200px;
    }

    .card-image {
        max-height: 100px;
    }

    .home-card-span {
        font-size: 12px;
    }

    .card-description {
        font-size: 12px;
    }
}