.users-page-container {
    background: #1e2b3a;
    min-height: 100vh;
}

.users-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.users-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

@media screen and (max-width: 501px) {
    strong {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    .users-card {
        max-width: 220px;
    }

    .users-cards {
        justify-content: center;
        padding-left: 80px;
    }
}

@media screen and (max-width: 400px) {
    .users-cards {
        padding-left: 55px;
    }
}